# Miscellaneous ignore rule
*.ignore*

# Roo Data default local output directory
.output/

# uv Python virtual environment directory
.venv/

# Python bytecode cache directory
__pycache__/

# Environment variables file
.env