# Miscellaneous ignore rule
*.ignore*

# Databricks VSCode extension configuration and cache directory
.databricks/

# Python virtual environment directory
.env/

# Python bytecode cache directory
__pycache__/

# dbt installed dependencies directory
dbt_project/dbt_packages/

# dbt logs directory
dbt_project/logs/

# dbt compiled models and artifacts directory
dbt_project/target/